/* 文字サイズ */
#pagetitle{
    text-align: center;
    font-size: xx-large;
    padding-bottom: -10px;
}
#pagetitle > span{
    font-size: xx-large;
    color: royalblue;
    border-bottom: double 5px royalblue;
}

body {
    font-size: large;
}

input{
    font-size: 18px;
}

h1 {
    font-size: x-large;
}

/* 残数 */
.remaining-wrap {
    display: grid;
    width: 390px;
    height: 300px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 0px 0px 20px;
}

/* 通院日 */
.day-wrap{
    display: grid;
    width: 700px;
    height: 100px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin: 0px 0px 0px 20px;
}

/* インスリン1日使用量 */
.insulin-wrap {
    display: grid;
    width: 640px;
    height: 170px;
    grid-template-rows: repeat(3 1fr);
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

/* 1日使用量・最小受け取り単位 */
.oneday-use-wrap {
    display: grid;
    width: 640px;
    height: 300px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 0px 0px 0px 20px;
}

/* 詳細必要数 もらう量 */
.received-wrap, .necessary-unit-wrap{
    display: grid;
    width: 570px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 0px 0px 20px;
}

.received-wrap > p, .necessary-unit-wrap > p {
    text-align: center;
    border-bottom: solid thin;
}

/* 各種要素 */
.remaining-wrap > input, .oneday-use-wrap > input, .insulin-wrap input{
    height: 25px;
    width: 60px;
    margin: 0 auto;
}

.remaining-wrap > p, .oneday-use-wrap > p, .insulin-wrap > p{
    margin: 0 auto;
}

.day-wrap > input{
    height: 25px;
    width: 150px;
    margin: 0 auto;
}

.day-wrap > p{
    margin: 0 auto;
}

/* その他見栄え */
hr {
    margin: 30px;
}
footer {
    margin-left: 50px;
}